@import '../color_schemes/mmntm';

/******* brand colors for callouts  *******/
// $brand-ruby-red-000: #f5b7bc; 
$brand-ruby-red-000: #f8c9cd; 
$brand-ruby-red-100: #f0939b;
$brand-ruby-red-200: #ee818a;
$brand-ruby-red-300: $brand-ruby-red;

$brand-branch-green-000: #97EDD4;
$brand-branch-green-100: #52E0B8;
$brand-branch-green-200: #25d0a0;
$brand-branch-green-300: $brand-branch-green;

$brand-violet-000: #c8bfff;
$brand-violet-100: #b197fc;
$brand-violet-200: #9775fa;
$brand-violet-300: $brand-violet;

$brand-sky-blue-000: #7ed6df;
$brand-sky-blue-100: #22a6b3;
$brand-sky-blue-200: #11999e;
$brand-sky-blue-300: $brand-sky-blue;

$brand-royal-blue-000: #74b9ff;
$brand-royal-blue-100: #0984e3;
$brand-royal-blue-200: #0652dd;
$brand-royal-blue-300: $brand-royal-blue;

